@import "tailwindcss";

@theme {
  --color-back-200: #9f9f9f;
  --color-back-500: #cbcbcb;
  --color-back-600: #767676;
  --color-back-700: #585858;
  --color-back-800: #464646;
  --color-back-900: #242424;

  --color-accent-300: #60a5fa;
  --color-accent-700: #4381cc;

  --font-primary: "Inter";
  --font-secondary: "Poppins";
}

html,
body {
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility section-screen {
  background-size: 100vw;
  @apply flex max-w-[106em] mx-auto w-full lg:min-h-screen px-5 md:px-6 lg:px-10 py-6 md:py-8 lg:py-12 gap-3;
}

@utility sosmed-link-url {
  @apply text-black dark:text-white hover:text-accent-300 active:text-back-800 transition-all duration-300;
}

@utility h-screen-minus-* {
  min-height: calc(100vh - var(--spacing) * --value(integer));
}

@utility large-only {
  @apply hidden 2xl:block;
}
@utility medium-only {
  @apply hidden lg:block;
}
@utility small-only {
  @apply block lg:hidden;
}

@utility dark-mode-transition {
  @apply transition-colors duration-600 ease-in-out;
}

@utility nav-link-btn {
  @apply w-full lg:w-fit px-5 py-1 lg:px-4 rounded-lg text-center transition-all duration-300 ease-in-out dark:text-white hover:bg-white hover:text-back-800 dark:hover:text-shadow-accent-300 lg:hover:bg-transparent lg:hover:text-sky-500 active:bg-gray-600 active:text-gray-800 lg:active:bg-black dark:lg:active:bg-white lg:active:text-sky-700;
}
